.hamburger {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  margin: 12px 0;
}

.hamburger:focus {
  outline: none;
}

.line {
  background-color: var(--brand-secondary);
  display: block;
  height: 3px;
  width: 22px;
  transition: all 0.1s ease-in;
  border-radius: 2px;
}

.line:nth-child(2) {
  margin: 4px 0;
}

.hamburger.is-open span:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}

.hamburger.is-open span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-open span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
