.footer {
  clear: both;
  border-top: 1px solid var(--malibu-gray9);
  padding: 16px 0;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 968px;
}

@media only screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    width: 95%;
    text-align: center;
  }

  .logo-footer {
    align-self: center;
  }

  .block {
    margin-top: 16px;
  }
}

.link {
  color: #fff;
  margin-right: 12px;
}

.logo-footer {
  max-width: 25%;
  height: 64px;
  padding: 0 16px;
}

.footer-headings {
  font-weight: bolder;
  margin-bottom: 4px;
}

.list-items {
  padding: 4px 0;
}
