.footer {
  clear: both;
  border-top: 1px solid black;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .footer {
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  .logo-footer {
    align-self: center;
  }
}

.link {
  color: #fff;
  margin-right: 10px;
}

.logo-footer {
  max-width: 25%;
  height: 4rem;
  padding: 0 1rem;
}

.footer-headings {
  font-weight: bolder;
  margin-bottom: 5px;
}

.footer-items {
  margin-top: 15px;
}

ul > li {
  padding: 5px 0;
}
