.account-modal {
  @media screen and (min-width: 767px) {
    display: flex;
    max-width: 770px;
  }
  .form-wrapper {
    padding: 40px 20px 30px;
    flex-basis: 63%;
    background: var(--nl-gray24);
    @media screen and (min-width: 767px) {
      padding: 40px 40px 30px;
    }
  }
  .tabs {
    display: flex;
    list-style: none;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .tab-item {
    padding: 10px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: var(--bold);
    flex-basis: 40%;
    line-height: 1.63;
    letter-spacing: 1.8px;
    text-align: center;
  }
  .active {
    border-bottom: 2px solid var(--primary-color);
  }
}
