.container {
  justify-content: space-between;
  padding-top: 10px;
  background-color: #fff;
  margin-bottom: 10px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.top-bar-left {
  display: flex;
  justify-content: space-between;
}

.blue {
  background: blue;
}
