$base-spacing: 21px;
$base-spacing-desktop: 24px;
$base-font-size: 14px;
$base-font-size-desktop: 16px;

:root {
  --titleFont : "Roboto Condensed", Helvetica, Arial, sans-serif;
  --contentFont: "Droid Serif", "gerogia", serif;
  --spacing: $base-spacing;
}

html {
  font-size: $base-font-size;

  @include breakpoint(map-get($media-query, desktop)) {
    font-size: $base-font-size-desktop;
  }
}
a {
  text-decoration: none;
}

$font-progression: (
  desktop: (3,2.5,2,1.75,1.5,1.25,1,.75,.5),
  mobile: (2.5,2.25,2,1.75,1.5,1.25,1,.75,.5)
);

@each $viewport, $progression in $font-progression {
  @include breakpoint(map-get($media-query,$viewport)){
    :root {
      @each $font in $progression {
        $i: index($progression, $font);
        --fontSize-#{$i}: #{$font}rem;
      }
    }
  }
}

body {
  font-family: var(--titleFont);
}
h1 {
  font-size: var(--fontSize-1);
}
h2 {
  font-size: var(--fontSize-2);
}
h3 {
  font-size: var(--fontSize-3);
}
h4 {
  font-size: var(--fontSize-4);
}
h5 {
  font-size: var(--fontSize-5);
}
h6 {
  font-size: var(--fontSize-6);
}
p {
  font-size: var(--fontSize-7);
}
