:root {
  --white: #ffffff;
  --rgb-black: 0, 0, 0;
  --brand-primary: #2cc7a4;
  --brand-primary-dark: #108167;
  --brand-secondary: #1e1e1e;
  --grey-light: #e8e8e8;
  --bg-gradient: linear-gradient(to bottom, rgba(76, 76, 76, 0), rgba(59, 59, 59, 0.45) 46%, var(--grey-dark));

  --meta-color: var(--brand-primary);
  --title-color: var(--brand-secondary);
  --border-color: var(--grey-light);
}
