:root {
  --white: #ffffff;
  --rgbBlack: 0, 0, 0;
  --brandPrimary: #2CC7A4;
  --brandPrimaryDark: #108167;
  --brandSecondary: #1e1e1e;
  --greyLight: #e8e8e8;
  --bgGradient: linear-gradient(to bottom, rgba(76, 76, 76, 0), rgba(59, 59, 59, 0.45) 46%, var(--greyDark));

  --metaColor: var(--brandPrimary);
  --titleColor: var(--brandSecondary);
  --borderColor: var(--greyLight);
}
