.CollectionName {
  padding: 8px 15px;
  font-size: var(--fontSize-6);
  background-color: #000;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-weight:var(--fontWeightBold);
  margin: 0;

}
.Collection::after {
  content: '';
  height: 2px;
  background-color: var(--black);
  width: 100%;
  display: block;
  margin-bottom: 20px;

}
