.TopHeader {
  display: none;
}
.Wrapper {
  display: flex;
  align-items: center;
}
.HeaderLaguage {
  display: flex;
  margin: 0;
  padding-left: 0;
}
.SocialLogoRight {
  margin-left: auto;
}
.HeaderLaguageList {
  list-style: none;
}
.LaguageFont,
.DateFont {
  font-weight: 700;
  color: #7b7b7b;
  font-size: 1em;
  border-left: 2px solid #ccc;
  padding: 0 10px;
}
.DateFont {
  border-left: none;
}
.LaguageFont:hover {
  color: #000;
  border-color: #000;
  font-weight: 900;
}

.DateFont {
  padding-right: 10px;
}

@media screen and (min-width: 767px) {
  .TopHeader {
    display: block;
    background-color:  #f2f2f2;
    padding: 15px 0;
  }
}
