.Logo {
  padding: 10px 0px;
}
.LogoHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (min-width:768px){
  .Logo {
    padding: 25px 0px;
  }
  .LogoHeader {
    display: flex;

  }
}
.MenuController {
  color:var(--accent-color);
  font-size: 22px;
  margin-right: 10px;
  cursor: pointer;
}
.Container {
  max-width: 1150px;
  padding: 0 15px;
  margin: auto;
}
.IconSearch {
  color:var(--accent-color);
  font-size: 22px;
  margin-left: auto;
  cursor: pointer;

}
.LogoImg {
  width: 150px;
}
@media (min-width:768px){
  .LogoImg {
    width: 265px;
  }
  .IconSearch,
  .MenuController {
    display: none;
  }

}

