.TwoCol {
  padding: 20px 0;
}
@media (min-width:768px){
  .TwoCol {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 10px;
  }
}
.TwoColContent {
 grid-column: 1/10;
}
.TwoColAdd {
  grid-column: 10/13;
}

.TwoColStory {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 10px;
}
.TwoColMain {
  grid-column: 1/10;
}
.TwoColSidebar {
  grid-column: 1/10;
}
@media (min-width:768px){
  .TwoColMain {
    grid-column: 1/7;
  }
  .TwoColSidebar {
    grid-column: 7/10;
  }
}
.TwoCardHorizontal {

}
@media (min-width:768px){
  .TwoCardHorizontal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

