<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%_ const cssPath = assetPath(["app", "css"]) _%>
    <%_ if(cssPath) { _%>
      <link rel="stylesheet" type="text/css" href="<%= cssPath %>"/>
    <%_ } _%>
  </head>
  <body>
    <script type="text/javascript">var qtReady = qtReady || [];</script>
    <div id="container"><%= content %></div>
    <script type="text/javascript" src="<%= assetPath(["app", "js"]) %>" async></script>
  </body>
</html>
