@import "./base/normalize";
@import "images";
@import "~breakpoint-sass/stylesheets/breakpoint";
@import "./base/media-query";
@import "./base/mixins";
@import "./base/typography";
@import "./base/colors";

*,
*::after,
*::before {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: auto;
}

