@import "images";
@import "modal";
@import "base";

@import "./base/z-index.scss";
@import "./base/colors.scss";
@import "./base/normalize.scss";
@import "./base/typography.scss";


:root {
  --container-width: 1280px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: var(--content-font);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: var(--white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-weight: normal;
}

#breaking-news-container {
  min-height: 71px;

  @media screen and (min-width: 480px) {
    min-height: 51px;
  }
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 16px;
}

.app-loading {
  width: 100%;
  height: 300px;
  background: url("../images/gears.svg") no-repeat center center;
}

.story-grid {
  overflow: auto;
}

.story-grid-item {
  box-sizing: border-box;
  display: block;
  background: white;
  float: left;
  margin: 10px 1%;
  border: 1px solid black;
  padding: 5px;
  width: 23%;

  @media only screen and (max-width: 768px) {
    width: 48%;
  }

  @media only screen and (max-width: 480px) {
    width: 98%;
  }
}

.story-grid-item h3 {
  font-size: 16px;
  text-align: center;
  height: 100px;
  font-family: var(--title-font);
}

.story-grid-item-author {
  display: block;
  font-size: 12px;
  float: right;
  font-family: var(--content-font);
}

.story-element-youtube-video {
  display: block;
  min-height: 360px;
  text-align: center;

  .thumbnail-wrapper {
    position: relative;
    text-align: center;
    height: 360px;
    display: flex;
    justify-content: center;

    .youtube-iframe-wrapper {
      position: absolute;
      z-index: 2;
    }

    .youtube-playBtn {
      background: #282828;
      border-radius: 50%/10%;
      font-size: 1em;
      height: 3em;
      padding: 0;
      width: 4em;
      position: absolute;
      top: 50%;
      left: 50%;
      border: none;
      opacity: 0.8;
      cursor: pointer;
      z-index: 1;
      transform: translateX(-50%) translateY(-50%);
    }

    .youtube-playBtn:hover {
      background: red;
    }

    .youtube-playBtn::before {
      background: inherit;
      border-radius: 5%/50%;
      bottom: 9%;
      content: "";
      left: -5%;
      position: absolute;
      right: -5%;
      top: 9%;
    }

    .youtube-playBtn::after {
      border-style: solid;
      border-width: 1em 0 1em 1.732em;
      border-color: transparent transparent transparent hsla(0, 0%, 100%, 0.75);
      content: " ";
      font-size: 0.75em;
      height: 0;
      margin: -1em 0 0 -0.75em;
      top: 50%;
      position: absolute;
      width: 0;
    }
  }
}

.topbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1;
}
