*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

figure,
img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

ul,
ol,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
